<div class="container animated bounceInUp">


	<div class="row" id="get" style="padding-top : 50px">
		<div class="col-md-12">

			<div class="well">


				<form class="form-horizontal">
					<fieldset>
						<legend>Add a question </legend>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Description</label>
							<div class="col-lg-10">
								<input class="form-control" id="\" placeholder="Paper name" type="text">
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Image</label>
							<div class="col-lg-10">
								<input class="form-control" id="inputEmail" placeholder="Batch" type="file">
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2" align="right">

								<button type="submit" class="btn btn-success">Create</button>
							</div>
						</div>
						
					</fieldset>
				</form>

			</div>
		</div>
	</div>
</div>