<div class="panel panel-default  animated bounceInUp">

    <div class="panel-body" >
        <p style="font-size : 15px; margin-bottom : 1px;" class="lead">Item wise sale</p><hr>

        <div class="row">
            <div class="col-sm-12">
                <p style="font-size : 13px; margin-bottom : 1px;" class="lead" align="center">Item wise sale</p><br>
                <canvas id="bar" class="chart chart-bar"
                        chart-data="datae1" chart-labels="labels1" chart-series="series" chart-colours="colors">
                </canvas>

            </div>


        </div>
        <hr>

        <div class="row">



            <div class="form-group" align="right">
                <label for="fil" class="col-sm-4 control-label">Search</label>
                <div class="col-sm-8">
                    <input class="form-control" required id="fil" placeholder="" type="text" ng-model="fil">
                </div>
            </div>


        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">

                <table class="table table table-striped  table-hover"  style="font-size : 11px;">
                    <tr align="Center" >
                        <th>#</th>
                        <th>Item details</th>
                        <th>Qty</th>
                        

                    </tr>

                    <tr ng-repeat="x in itemsale | filter : fil " >

                        <td>{{ $index+1 }}</td>
                        <td align="center"><b>{{x.name}}</b> | {{x.brand}} | {{x.packsize}} | {{x.category}} - Item id : {{x.i_id}}</td>
                        <td align="center">{{(-1)*x.qty | number:2}}</td>
                        


                    </tr>


                </table>




            </div>


        </div>



    </div>
</div>