<div class="panel panel-default  animated bounceInUp">

	<div class="panel-body">

		<form class="form-horizontal">
			<fieldset>
				<p style="font-size : 15px; margin-bottom : 1px;" class="lead"><i class="fa fa-users  fa-2x"></i> Supplier - {{sup_id}}</p><hr>
				<div class="form-group">
					<label for="em" class="col-lg-2 control-label">Supplier</label>
					<div class="col-lg-10">
						<input class="form-control" required id="name" placeholder="" type="text" ng-model="name">
					</div>
				</div>

				<div class="form-group">
					<label for="nod" class="col-lg-2 control-label">Address</label>
					<div class="col-lg-10">
						<input class="form-control" required id="address" placeholder="" type="text" ng-model="address">
					</div>
				</div>

				<div class="form-group">
					<label for="nod" class="col-lg-2 control-label">Telephone</label>
					<div class="col-lg-10">
						<input class="form-control" required id="tp" placeholder="" type="text" ng-model="tp">
					</div>
				</div>

				<div class="form-group">
					<label for="nod" class="col-lg-2 control-label">Email</label>
					<div class="col-lg-10">
						<input class="form-control" required id="mail" placeholder="" type="text" ng-model="mail">
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label for="contact1" class="col-sm-2 control-label">Contact 01</label>
					<div class="col-sm-4">
						<input class="form-control" required id="contact1" placeholder="" type="text" ng-model="contact1">
					</div>
					
					<label for="contact1tp" class="col-sm-2 control-label">Phone #</label>
					<div class="col-sm-4">
						<input class="form-control" required id="contact1tp" placeholder="" type="text" ng-model="contact1tp">
					</div>
				</div>


				

				<div class="form-group">
					<label for="contact2" class="col-sm-2 control-label">Contact 02</label>
					<div class="col-sm-4">
						<input class="form-control" required id="contact2" placeholder="" type="text" ng-model="contact2">
					</div>
					<label for="contact2tp" class="col-sm-2 control-label">Phone #</label>
					<div class="col-sm-4">
						<input class="form-control" required id="contact2tp" placeholder="" type="text" ng-model="contact2tp">
					</div>
				</div>



				<hr>
				<div class="form-group">
					<label for="bank" class="col-lg-2 control-label">Bank</label>
					<div class="col-lg-4">
						<input class="form-control" required id="bank" placeholder="" type="text" ng-model="bank">
					</div>

					<label for="accno" class="col-sm-2 control-label">Account #</label>
					<div class="col-sm-4">
						<input class="form-control" required id="accno" placeholder="" type="text" ng-model="accno">
					</div>
				</div>




				<div ng-show="prog" class="progress progress-striped active">
					<div class="progress-bar" style="width: 100%"></div>
				</div>

				<div ng-show='savefail' class="alert alert-dismissible animated bounceIn alert-warning">
					<strong>Sorry ! </strong>Saving failed.
				</div>
				<div ng-show='savesuccess' class="alert alert-dismissible animated bounceIn alert-success">
					<strong>Successfully </strong>Record Updated.
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2" align="right">

						<button ng-disabled="prog" ng-show="name && address && mail && tp && contact1 && contact1tp && contact2 && contact2tp && bank && accno" ng-click="save()" class="btn btn-warning">Save changes</button>

					</div>
				</div>




			</fieldset>
		</form>






	</div>
</div>