<div class="col-md-12 animated bounceInRight">


	<div class="form-group" align="right">
		<label for="username" class="col-lg-6 control-label">Search</label>
		<div class="col-lg-6">
			<input class="form-control" required id="rfil" placeholder="" type="text" ng-model="rfil">
		</div>
	</div>
	<hr>
	<table class="table table-bordered table-hover"  style="font-size : 13px;">

		<tr align="Center" >
			<th>#</th>
			<th>Description</th>
			<th>Charges</th>

		</tr>

		<tr ng-repeat="x in crents | filter : rfil " >

			<td>{{ $index+1 }}</td>
			<td>

				{{x.cx_name}}<br>{{x.cx_tp}}<br>{{x.cx_address}}<hr>
				{{x.v_no}}<br>
				{{x.model+" "+x.make}}
				<br>Date : {{x.timestamp}}
				<br>Initial milage : {{x.im | number}}
				<br>End milage : {{x.em | number}}
				<br>Packege : {{x.pkg}}({{x.nod}})
				<br>Total milage : {{x.em - x.im | number}}



			</td>
			<td>


				<p class="lead">
					<b>Sub Total : {{x.amt | number:2}}</b></p>

				<hr>

			</td>

		</tr>

	</table>




</div>